<div class="container">
  <div class="page-header">
    <div class="row">
      <h1 class="text-center">Hallo <%= @user.username %></h1>
    </div>
  </div>

  <h3 class="text-center"> Personal information <%= link_to 'Edit', edit_user_registration_path, class: "btn btn-xs bottom-buffer btn-warning" %></h3>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
      <%= render 'show_user' %>
    </div>
  </div>

  <div class="row">
    <h3 class="text-center"> <%= @user.username.capitalize %>'s food restrictions </h3>
    <!-- Display user's restriction -->
  </div>

  <div class="row">
    <h3 class="text-center"> <%= @user.username.capitalize %>'s food allergies </h3>
    <!-- Display user's allergies -->
      <div class="col-xs-4 col-xs-offset-5 col-sm-4 col-sm-offset-5 col-md-4 col-md-offset-5 col-lg-4 col-lg-offset-5">
        <%= form_for (@user) do |f| %>
          <%= f.collection_check_boxes(:allergy_ids, Allergy.all, :id, :name) do |a| %>
            <div class="checkbox">
              <label>
                <%= a.check_box(class: "check_box") %><%= a.object.name %>
              </label>
            </div>
          <% end %>
          <%= f.submit t('helpers.submit.update', :model => t('user.user')), class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="text-center"> <%= @user.username.capitalize %>'s food rating</h3>
    <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
      <!-- Display user's food rating results-->
    </div>
  </div>
</div>
