<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <h1> Hallo <%= @user.username %> <h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <h3> Personal information <%= link_to 'Edit', edit_user_registration_path, class: "btn btn-xs bottom-buffer btn-warning" %>  </h3>
    </div>
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <%= render 'show_user' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <h3> Restrictions </h3>
      <!-- Display user's restriction as checkboxes -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <h3> Allergies </h3>
      <%= form_for (@user) do |f| %>
        <%= f.collection_check_boxes(:allergy_ids, Allergy.all, :id, :name) do |a| %>
          <div class="checkbox">
            <label>
              <%= a.check_box(class: "check_box") %><%= a.object.name %>
            </label>
          </div>
        <% end %>
        <%= f.submit t('helpers.submit.update', :model => t('user.user')), class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <h3> Food Rating </h3>
      <!-- Display user's food ratings with sliders -->
    </div>
  </div>
</div>

