<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Forgot your password?</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form' }) do |f| %>
         <%= devise_error_messages! %>
        <div class="form-group has-feedback">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, placeholder: "John@Doe.com", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Send me reset password instructions",  class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-toolbar" role="toolbar">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
