<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> My friends</h1>
    </div>
  </div>
</div>

<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <%= render 'table_header' %>
        <th class="col-md-1">Unfriend</th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.username %></td>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= render_friend_into_button(friend) %></td>
          <td><%= render_unfriend_button(friend) %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'add_friend' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Pending friend requests</h1>
    </div>
  </div>
</div>

<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <%= render 'table_header' %>
        <th class="col-md-1">Accept</th>
         <th class="col-md-1">Deny</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.pending_friends.each do |friend| %>
        <tr>
          <td><%= friend.username %></td>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= render_friend_into_button(friend) %></td>
          <td><%= render_friend_accept_button(friend) %></td>
          <td><%= render_friend_decline_button(friend) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Your friend requests</h1>
    </div>
  </div>
</div>

<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <%= render 'table_header' %>
        <th class="col-md-2"></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.requested_friends.each do |friend| %>
        <tr>
          <td><%= friend.username %></td>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= render_friend_into_button(friend) %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


