<!DOCTYPE html>
<html>
  <head>
    <title>AvarteqRecipes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/header_nav' %>

    <%#<div class="container">%>
      <%#<div class="row">%>
        <%#<div class="col-lg-12">%>
          <%#<p class="notice"><%= notice %></p>%>
          <%#<p class="alert"><%= alert %></p>%>
          <%#</div>%>
        <%#</div>%>
      <%#</div>%>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
